<div class="content">
  <div class="main-card">
    <mat-card class="background-faded-green">
      <div class="image-div">
        <img class="image" mat-card-image alt="employee" src="assets/person.png">
      </div>
      <div class="content-info">
        <span>¿Quienes somos?</span>
        <p>
          Somos una empresa familiar preocupada por el bienestar de los colaboradores en las empresas,
          iniciamos en el año 2018, actualmente laboramos en la zona de Guadalajara con planes de expansión
          a otras ciudades de la república.
        </p>
      </div>
    </mat-card>
  </div>
</div>

<why-us></why-us>