<div class="main">
  <div fxLayout="column">
    <div class="bar-header">
      <div class="bar-text">
        ¿Por qué Señor Fruits?
      </div>
    </div>

    <div class="encabezado" fxLayout="row" fxFlex fxLayoutAlign="start center">
      <div class="imagen" fxFlex="25">
        <img src='assets/logo.png'>
      </div>

      <div fxFlex="65">
        <div class="titulo" fxLayoutAlign="center center">
          <span translate>ABOUT_US.WHO_WE_ARE.Description</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-advantages></app-advantages>