@import "~src/sass/_colors.scss";

.main {
  padding-top: 60px;
}

.encabezado {
  height: 250px;
}

.imagen {
  img {
    height: 180px;
  }
}

.titulo{
  background-color: $naranja;
  border-radius: 35px;
  color: $grey-600;
  height: 150px;
  font-weight: bold;
  font-style: italic;
}

.bar-header {
  height: 65px;
  background-color: $naranja;
}

.bar-text {
  font-size: 30px;
  color: white;
  font-weight: 500;
  padding-top: 8px;
}

.content-card {
  background-color: $verde;
}
