$strong-green: #03602a;
$verde-ok:rgba(81, 158, 45, 1);
$orange: #fc7a00;
$opacity-min: .9;

// BIG SCREEN
@media(min-width: 600px){
  .main-card{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 25px;
    overflow: hidden;
    padding-bottom: 25px;   
    mat-card{
      border-radius: 50px;
    }
  }

  .image-div{
    float: left;
    padding: 0px 35px 0 0px; //padding de imagen con info
    max-width: 42%;
  }

  .content-info{
    color: whitesmoke;
    text-align: justify;
    font-size: 16px;
    span{
      font-size: 30px;
    }
    p{
      opacity: $opacity-min;
    }
    h6{
      opacity: 1;
    }
  }
}

//SMALL SCREEN
@media(max-width: 601px){
  .main-card{
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
    padding-bottom: 25px;
    mat-card{
      border-radius: 20px;
    }
  }

  .image-div{
    display: none;
  }

  .content-info{
    color: whitesmoke;
    padding-left: 10px;
    font-size: 13px;
    text-align: justify;
    span{
      font-size: 20px;      
    }
    p{
      opacity: $opacity-min;
    }
  }
}

.image{
    max-height: 260px;
    max-width: 135px;
  }

  