<div class="content">
  <div class="main-card">
    <mat-card class="background-faded-green">
      <div class="image-div">
        <img class="image" mat-card-image alt="employee" src="assets/person.png">
      </div>
      <div class="content-info">
        <span>¿Quienes somos?</span><br>
        <span class="about-us-description">Somos una empresa familiar preocupada por el bienestar de los colaboradores en las empresas, iniciamos en el año 2018, actualmente laboramos en la Zona Metropolitana de Guadalajara con planes de expansión a otras ciudades de la República Mexicana.
            <br>A través de [Frutas Álvarez] queremos mejorar la vida diaria de muchas personas dentro y fuera de sus centros de trabajo al poner a su alcance alternativas saludables en snacks y alimentos.</span>
            
        
      </div>
    </mat-card>
  </div>
</div>

<app-advantages></app-advantages>

<why-us></why-us>