<div class="pago">

  <div fxLayout="row" class="datos-banco" fxLayoutGap="50px" fxLayoutAlign="center center">
    <div>
      <img src="assets/pago.png">
    </div>
    <div fxFlex="500px">
      <mat-card>
        <div fxLayout="row" id="card">
          <div fxFlex="30" fxLayoutAlign="start center">
            <img id="logo" src="assets/logo.png">
          </div>
          <div fxLayout="column">
            <div id="titulo">
              Sr. Fruits
            </div>
            <div id="cuenta">
              5555 5555 5555 5555
            </div>
            <div id="nombre">
              Bancomer
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div fxLayout="column" class="detalles" fxLayoutGap="40px" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="700px">
        <p id="texto">
          Le enviaremos una factura a su correo en el último día laboral del mes
          y podrá realizar el pago en los siguientes 14 días naturales de recibir su factura.
        </p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="120px" fxLayoutAlign="start start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxFlex="350px" fxLayoutAlign="start start">
          <div id="metodo-pago">
            Pago semanal
          </div>
          <div id="descripcion">
            Las entregas individuales se cobran al momento de la entrega, 
            se acepta tarjeta de crédito/débito o transferencia bancaria.
          </div>
          <div id="ventaja">
            Mayor control de gasto
          </div>
        </div>
        <div fxFlex="80px">
          <mat-icon>calendar_today</mat-icon>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxFlex="350px" fxLayoutAlign="start start">
          <div id="metodo-pago">
            Pago mensual
          </div>
          <div id="descripcion">
            Al tener entrgas de manera regular no se cobra nada al momento de la entrega, 
            se reliza el pago mediante transferencia bancaria.
          </div>
          <div id="ventaja">
            Mayor control con menos documentos
          </div>
        </div>
        <div fxFlex="80px">
          <mat-icon>forward_30</mat-icon>
        </div>
      </div>
    </div>
  </div>

</div>