<div class="content">

  <div class="payment-info">
    <div>
      <span class="tittle">¿Como realizar el pago?</span>
      <p>
        Para comodidad y seguridad de nuestros clientes, todos los pagos se
        realizan mediante transferencias bancarias.<br>
        Al final de cada mes le enviaremos el comprobante de pago con los
        detalles de su pedido y la factura de su compra.
      </p>

      <div class="payment-details">
        <mat-card>
          <div>
              [Frutas Alvarez]<br>
              Cuenta: 4545 1212 2323 5656<br>
              Avenida Siempreviva 123, Zapopan, Jalisco, Mexico, 45050
          </div>          
        </mat-card>
      </div>
      
    </div>
  </div>

</div>