@import "~src/sass/_colors.scss";

$strong-green: #03602a;
$verde-ok:rgba(81, 158, 45, 1);
$white-text: white;

.detalles {
  background: $grey-100;
  padding: 25px 25px 0 25px;
  margin-top: 50px;
  text-align: center;
  height: 300px;
  mat-icon {
    font-size: 85px;
    color: $green-700;
  }
  #texto {   
    font-size: 20px;
    color: $green-800;
    font-style: italic;
  }
  #metodo-pago {
    color: $green-800;
    font-size: 22px;
    font-weight: 500;
  }
  #ventaja {
    font-size: 18px;
    font-weight: bold;
    font-size: 14px;
    color: $green-900;
  }
  #descripcion {
    font-size: 14px;
    text-align: justify;
    font-style: italic;
  }
}

.datos-banco {
  padding-top: 50px;
  mat-card {
    border-radius: 20px;
    height: 186px;
    background: $grey-100;
  }
  #titulo {
    color: $green-800;
    font-size: 25px;
  }
  #cuenta {
    font-weight: bold;
    font-size: 18px;
  }
  #nombre {
    font-size: 18px;
  }
  #logo {
    height: 80px;
  }
  #card{
    padding-top: 20px;
  }
}

.pago {
  padding: 115px 0 30px 0;
}