<nav class="navbar navbar-expand-lg navbar-light fixed-top  navigation">
    <a class="navbar-brand" href="#">
        <img src="assets/icons/fruit-box.png" class="header-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav color-white">
          
        <li class="nav-item dropdown white-color">            
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <mat-icon>people</mat-icon><span> Nosotros</span>
            </a>
            <div class="dropdown-menu white-background" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/porque-nosotros" routerLinkActive="active">¿Por qué elegirnos?</a>
                <a class="dropdown-item" routerLink="/mision-vision" routerLinkActive="active">Misión y Visión</a>
                <a class="dropdown-item" routerLink="/logros" routerLinkActive="active">Logros</a>
            </div>
        </li>

        <li class="nav-item dropdown white-color">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <mat-icon>sentiment_satisfied_alt</mat-icon> Beneficios
            </a>
            <div class="dropdown-menu white-background" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/beneficios-empleado" routerLinkActive="active">Para el empleado</a>
                <a class="dropdown-item" routerLink="/beneficios-empresa" routerLinkActive="active">Para la empresa</a>
            </div>
        </li>

        <li class="nav-item white-color">
            <a class="nav-link" routerLink="/oferta" routerLinkActive="active"><mat-icon>restaurant</mat-icon> Oferta</a>
        </li>

        <li class="nav-item dropdown white-color">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <mat-icon>add_shopping_cart</mat-icon><span class="bar-items-text"> Pedidos</span>
            </a>
            <div class="dropdown-menu white-background" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/pedido" routerLinkActive="active">Realizar pedido</a>
                <a class="dropdown-item" routerLink="/calculo" routerLinkActive="active">Cálculo de cantidad</a>
                <a class="dropdown-item" routerLink="/pago" routerLinkActive="active">Pago</a>
            </div>
        </li>

        <li class="nav-item dropdown white-color">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <mat-icon>comment</mat-icon><span class="bar-items-text"> Contacto</span>
            </a>
            <div class="dropdown-menu white-background" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/contact" routerLinkActive="active">Contactanos</a>
                <a class="dropdown-item" routerLink="/preguntas" routerLinkActive="active">Preguntas frecuentes</a>
            </div>
        </li>
        
      </ul>
    </div>

    <div class="collapse navbar-collapse social-network white-color">
        <mat-icon>phone</mat-icon><span class="telephone">336-059-8886</span>
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square icon"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-instagram icon"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-twitter icon"></i></a>
    </div>
  </nav>