<mat-toolbar id="header" class="header">
    <a routerLink="/">
      <img src="assets/icons/logo.png" class="header-logo">
    </a>

    <div class="navigation">
      <button mat-button class="navigation-button">
        <mat-icon>restaurant</mat-icon>
        Nuestros productos
      </button>
    </div>

    <div class="navigation">
        <button mat-button class="navigation-button">
          <mat-icon>person</mat-icon>
          Acerca de nosotros
        </button>
    </div>

    <div class="navigation">
        <button mat-button class="navigation-button">
          <mat-icon>shopping_cart</mat-icon>
          Pedidos
        </button>
    </div>

    <div class="social-network">
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square icon"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram icon"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter icon"></i></a>
    </div>
    

</mat-toolbar>

