$background: transparent;

$verde: #6A9B31;
$amarillo: rgb(255, 206, 12);
$naranja: rgb(255, 142, 4);
$rojo: rgb(230, 0, 47);


.step-card {
    height: 550px;
    width: 260px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    margin: 15px;
}

.image-card {
    background-size: cover;
    height: 250px;
    width: 245px;
}

.btn-action {
    padding-top: 30px;
    text-align: center;
    button {
        
        border: none;
        width: 190px;
        height: 35px;
        color: white;
        border-radius: 15px;
        font-style: normal;
        font-weight: 500;
    }
}

.card-text {
    padding-top: 30px;
    font-size: 15px;
    margin: 5px;
}

.main-process{
    padding-top: 10px;
    margin-top: 40px;
    background-color: $background;
    display: block;
    #order {
        color: $rojo;
        border: 1px solid $rojo;
        button {
            background-color: $rojo;
        }
    }    
    #receive {
        color: $verde;
        border: 1px solid $verde;
        button {
            background-color: $verde;
        }
    }    
    #payment {
        color: $naranja;
        border: 1px solid $naranja;
        button {
            background-color: $naranja;
        }
    }      
}


