$background: rgba(126, 175, 59, .7);

// BIG SCREEN
@media(min-width: 600px){
    #process{
        padding-top: 10px;
        padding-bottom: 45px;
        margin: 1%;
        span{
            padding-top: 15px;
        }
        mat-icon{
            margin-top: 12px;
        }
        h6{
            //opacity: .9;
        }
        mat-grid-tile{
            //background-color: whitesmoke;
            border-radius: 10px;
        }
    }
}
    
// SMALL SCREEN
@media(max-width: 600px){
    #process{
        padding-top: 20px;
        padding-bottom: 45px;
        margin: 1%;
        p{
            font-size: 11px;
            opacity: .8;
        }
        h6{
            display: none;
        }

        mat-icon{
            margin-top: 10px;
            font-size: 25px;
            opacity: .9;
        }
        mat-grid-tile{
            background-color: whitesmoke;
            border-radius: 15px;
        }
    }
}

mat-grid-tile {
    text-align: center;
    border: 1px dotted black;
    //color: whitesmoke;
    opacity: .8;
    p{
        font-size: 15px;
        opacity: .8;
    }

    mat-icon{
        font-size: 33px;
        text-align: center !important;
    }
  }

  .main-process{
      padding-top: 10px;
      margin-top: 40px;
      background-color: $background;
  }