<section class="wrapper">
  <div id="container"
       fxLayout="column"
       fxLayoutGap="15px"
       fxLayoutAlign="start center">
    <div class="titulo">¿Como funciona?</div>
    <div fxLayout="row"
         fxFlex="80"
         fxLayoutGap="30px"
         fxLayout.lt-md="column">
      <div fxLayout="column" fxFlex="25" fxLayoutAlign="start center" fxLayoutGap="25px">
        <div>
          <img src="assets/step1.png" alt="step1">
        </div>
        <div class="subtitulo">Calcula tu pedido</div>
        <div class="paso-texto">Con la calculadora de cantidad puedes realizar
          un mejor presupuesto de la cantidad de fruta necesaria para tus
          colaboradores.
        </div>
      </div>
      <div fxLayout="column" fxFlex="25" fxLayoutAlign="start center" fxLayoutGap="25px">
        <div>
          <img src="assets/step2.png" alt="step2">
        </div>
        <div class="subtitulo">Ordena</div>
        <div class="paso-texto">Elige el paquete que deseas, la cantidad de
          porciones y días de entrega: lunes y/o miércoles. Inmediatamente nos
          pondremos en contacto contigo para concluir el proceso de compra.
        </div>
      </div>
      <div fxLayout="column" fxFlex="25" fxLayoutAlign="start center" fxLayoutGap="25px">
        <div>
          <img src="assets/step3.png" alt="step3">
        </div>
        <div class="subtitulo">Recibe tu pedido</div>
        <div class="paso-texto">Las entregas se realizan en las primeras horas
          laborales de los días lunes y miércoles. Así garantizamos que la fruta que
          recibas sea la más fresca. Nuestro servicio está disponible dentro de la ZMG.
        </div>
      </div>
      <div fxLayout="column" fxFlex="25" fxLayoutAlign="start center" fxLayoutGap="25px">
        <div>
          <img src="assets/step4.png" alt="step4">
        </div>
        <div class="subtitulo">Pagos flexibles</div>
        <div class="paso-texto">Una vez entregado tu pedido, te enviaremos la factura
          correspondiente para que realices el pago dentro de los siguientes 7 días
          hábiles, mediante una transferencia electrónica o un depósito bancario.
        </div>
      </div>
    </div>
  </div>
</section>


