<div id="process">
    <mat-grid-list cols="4" rowHeight="150px">

      <mat-grid-tile>
        <div class="process-step">
            <mat-icon>shopping_cart</mat-icon>
            <h6>Ordenar</h6>
            <p>
                Aceptamos solicitudes de lunes a viernes de 8 a 20 hrs.
            </p>
        </div>        
      </mat-grid-tile>

      <mat-grid-tile>
          <div class="process-step">
              <mat-icon>contact_phone</mat-icon>
              <h6>Contacto</h6>
              <p>
                  Nos contactamos con usted en un periodo menor a un dia laboral.
              </p>
          </div>        
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="process-step">
                <mat-icon>info</mat-icon>
                <h6>Ordenar</h6>
                <p>
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                </p>
            </div>        
          </mat-grid-tile>

          <mat-grid-tile>
              <div class="process-step">
                  <mat-icon>local_shipping</mat-icon>
                  <h6>Entrega</h6>
                  <p>
                      bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                  </p>
              </div>        
            </mat-grid-tile>

    </mat-grid-list>
  </div>
