@import "~src/sass/_colors.scss";

$verde-strong: rgb(98, 145, 43);
$naranja-strong: rgb(255, 116, 4);

.step-card {
    height: 445px;
    width: 260px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    margin: 15px;
}

.image-card {
    background-size: cover;
    height: 190px;
    width: 185px;
    margin: 0 auto;
}

.description {
    text-align: center;
    width: 190px;
    height: 35px;
    color: white;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 15px;
    vertical-align: middle;
    p{
        padding-top: 4px;
    }
}

.card-text {
    padding-top: 15px;
    font-size: 16px;
    margin: 5px;
    font-weight: 500;
}

.main-process{
    padding-top: 10px;
    margin-top: 40px;
    background-color: transparent;
    display: block;
    #order {
        color: $rojo;
        opacity: .9;
        border: 2px solid $rojo;
        .description {
            background-color: $rojo;
        }
    }    
    #receive {
        color: $verde-strong;
        border: 2px solid $verde;
        .description {
            background-color: $verde;
        }
    }    
    #payment {
        color: $naranja-strong;
        border: 2px solid $naranja;
        .description {
            background-color: $naranja;
        }
    }      
}


