<tittle-header color='verde' text='¿Como funciona?'></tittle-header>
<div class="main-process">
    <div class="step-card" id="order">
        <div class="image-card" style="background-image: url('assets/step-order.png')"></div>
        <div class="description">
            <p>ORDENA</p>
        </div>
        <div class="card-text">
            Elige el paquete que deseas, la cantidad de porciones y días de entrega: lunes y/o miércoles. 
            Inmediatamente nos pondremos en contacto contigo para concluir el proceso de compra.<br/><br/><br/>
        </div>
    </div>

    <div class="step-card" id="receive">
        <div class="image-card" style="background-image: url('assets/step-receive.png')"></div>
        <div class="description">
            <div class="description">
                <p>RECIBE TU PEDIDO</p>
            </div>
        </div>
        <div class="card-text">
            Las entregas se realizan en las primeras horas laborales de los días lunes y miércoles. 
            Así garantizamos que la fruta que recibas sea la más fresca. 
            Nuestro servicio está disponible dentro de la ZMG. <br/><br/><br/>
        </div>
    </div>

    <div class="step-card" id="payment">
        <div class="image-card" style="background-image: url('assets/step-pay.png')"></div>
        <div class="description">
            <p>PAGOS FLEXIBLES</p>
        </div>
        <div class="card-text">
            Una vez entregado tu pedido, te enviaremos la factura correspondiente para que 
            realices el pago dentro de los siguientes 7 días hábiles mediante transferencia 
            electrónica, depósito bancario o en OXXO. 
        </div>
    </div>

</div>