$opacity-min: .9;

#questions mat-expansion-panel{
  border-left: 3px solid rgb(51, 122, 204);
  margin: 10px;
}

#left{
  float: left;
  margin-left: 15px;
}

//BIG SCREEN
@media(min-width: 600px){
    #right{
      margin: 0 2% 0 0;
    }
    .image-div{
      float: left;
      max-width: 32%;
    }
    .main-card{
      padding-left: 5%;
      padding-right: 5%;
      min-height: 250px;
      overflow: hidden;    
      mat-card{
        border-radius: 50px;
      }
    }

    .content-info{
      color: whitesmoke;
      font-size: 15px;
      margin-left: 235px;
      span{
        font-size: 30px;
      }
      p{
        opacity: $opacity-min;
      }
      h6{
        opacity: 1;
      }
    }
}
  
// SMALL SCREEN
@media(max-width: 600px){
  .main-card{
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
    mat-card{
      border-radius: 20px;
    }
  }
  #right{
    width: 100%
  }

  .image-div{
    display: none;
  }
  
  .content-info{
    color: whitesmoke;
    padding-left: 10px;
    font-size: 13px;
    span{
      font-size: 20px;      
    }
    p{
      opacity: $opacity-min;
    }
  }
}

.image{
  min-width: 250px;   //cambiar
  min-height: 180px;
  max-height: 200px;
  max-width: 220px;
}

.questions-content{
}