<div class="content">

  <div class="main-card">
    <mat-card class="background-faded-green">
      <div class="image-div">
        <img class="image" mat-card-image alt="employee" src="assets/questions.svg">
      </div>
      <div class="content-info">
        <span>Preguntas frecuentes</span>
        <div class="answer">
          Aqui se leen preguntas utiles, en caso de tener alguna otra pregunta
          favor de contactarnos y con gusto le atenderemos
        </div>
      </div>
    </mat-card>
  </div>

  <div class="questions-content">


    <div id="right">
      <mat-accordion id="questions">

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              ¿De donde proviene la fruta?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="answer">
            Nuestra fruta tiene su origen en el campo mexicano.
            Confiamos en la calidad del producto nacional, y así nos aseguramos de
            garantizar su frescura, con precios competitivos y justos.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              ¿Como puedo ponerme en contacto?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="answer">Puedes llamarnos al teléfono: 01 (33) 33 12 34 56.<br />
            Si lo prefieres, puedes escribirnos al correo electrónico: srfruits@srfruits.com.mx.<br />
            Además, estamos atentos a tus dudas y comentarios en nuestras redes sociales, en <a href="https://www.facebook.com/srfruitsmx"
              target="_blank">Facebook</a>,
            <a href="https://twitter.com/srfruitsmx" target="_blank">Twitter</a> e Instagram.</div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              ¿Cómo puedo calcular la cantidad de porciones que requiere mi empresa?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="answer">Es muy sencillo: usa nuestra <a routerLink="/calculo" routerLinkActive="active">Calculadora de Cantidades</a></div>
        </mat-expansion-panel>


        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              Pregunta 4?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="answer">Respuesta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </div>
        </mat-expansion-panel>


        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              Pregunta 5?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="answer">Respuesta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              Pregunta 6?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="answer">Respuesta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              Pregunta 7?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="answer">Respuesta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              Pregunta 8?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="answer">Respuesta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              Pregunta 9?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="answer">Respuesta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="tittle">
              Pregunta 10?
            </mat-panel-title>
            <mat-panel-description class="">
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="answer">Respuesta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </div>
        </mat-expansion-panel>

      </mat-accordion>

    </div>

  </div>


</div>