@import "~src/sass/_colors.scss";


.pregunta {
  font-size: 20px;
  color: $green-800;
}

.answer {
  font-size: 16px;
  color: $grey-700;
}

#questions {
  mat-expansion-panel {
    border-left: 5px solid $green-700;
    margin: 10px;
  }
}

.titulo {
  background-color: $verde;
  border-radius: 15px;
  margin: 30px 0 35px 0;
  font-size: 65px;
  color: $green-900;
  text-align: center;
}