@import "~src/sass/_colors.scss";


.beneficios {
  padding-top: 50px;
  .item {
    border-radius: 15px;
  }
}

.beneficio-txt {
  height: 165px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  & > * {
    margin: 0 20px 0 20px;
  }
  p {
    text-align: justify;
    font-size: 17px;
  }
}

.verde {
  .beneficio-img {
    background-color: $verde;
  }
  .beneficio-txt {
    color: $green-800;
    border: 4px solid $verde;
  }
}

.naranja {
  .beneficio-img {
    background-color: $naranja-fuerte;
  }
  .beneficio-txt {
    color: $naranja-fuerte;
    border: 4px solid $naranja-fuerte;
  }
}

.azul {
  .beneficio-img {
    background-color: $azul;
  }
  .beneficio-txt {
    color: $azul;
    border: 4px solid $azul;
  }
}

.melon {
  .beneficio-img {
    background-color: $melon;
  }
  .beneficio-txt {
    color: $melon;
    border: 4px solid $melon;
  }
}

.beneficio-img{
  
  height: 165px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  img {
    height: 130px;
    width: 130px; 
    border-radius: 85px; //change
    background-size: cover;
  }
}

.benefits-div {
  padding-top: 96px;
  height: 100%;
}

.imagen {
  img {
    height: 270px;
  }
}

.columna {
  height: 100%;
}

.header {
  background-color: $turquesa;
}

.titulo{
  background-color: $naranja;
  border-radius: 35px;
  color: $grey-600;
  height: 80px;
  font-size: 35px;
  font-style: italic;
}