@media(min-width: 600px){
    .main{
        
    }

    .right-div{
        float: right;
        width: 30%;
    }

    .left-div{
        float: left;
        width: 65%;
        padding-top: 20px;
        span{
            color: whitesmoke;
            opacity: .9;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
            font-size: 15px;
            color: white;
            opacity: .9;
        }
        button{
            background-color: #ffce0c;
            border-radius: 15px;
        }
    }
    
}

//SMALL SCREEN
@media(max-width: 600px){
    .main{
        
    }
    .right-div{
        display: none;
    }

    .left-div{
        width: 92%;
        padding-left: 4%;
        padding-top: 15px;
        span{
            color: whitesmoke;
            opacity: .9;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
            font-size: 15px;
            color: white;
            opacity: .9;
        }
        button{
            background-color: #ffce0c;
            border-radius: 15px;
        }
    }
}

.main{
    overflow: hidden;
    background-color: #519e2d;
    height: 160px;
    margin-bottom: 30px;
    margin-top: 65px;
}

.banana{
    height: 140px;
    min-width: 150px;
    float: right;
    padding-top: 10px;
    padding-right: 8%;
}

