//--- base color palette ---
$green-900: #346618;
$green-800: #568829;
$green-700: #6A9B31;
$green-600: #7EAF3B;
$green-500: #8DBF43;
$green-400: #9EC85F;
$green-300: #AFD27C;
$green-200: #DDECC6;
$green-100: #DDECC6;
$green-50: #F1F7E8;

$grey-900: #131313;
$grey-800: #333333;
$grey-700: #515151;
$grey-600: #646464;
$grey-500: #8B8B8B;
$grey-400: #ACACAC;
$grey-300: #D1D1D1;
$grey-200: #E3E3E3;
$grey-100: #EEEEEE;
$grey-50: #F7F7F7;

$grey-dark: $grey-700;//#555555;
$grey-light: $grey-400;//#CCCCCC;
$grey: $grey-500;//#7D7D7D;

$green-dark: $green-700;//#89A33F;
$green-avantida: $green-600;//#9BB847;
$green-lime: $green-500;//#7FEB7F;
$green-light: $green-200;//#C0C9A7;

$red-dark: #CC3333;
$red-light: #ff5252;
$beige: #F4F5F6;
$white: #FFFFFF;
$black: #000000;


$verde: rgb(161, 206, 28);
$amarillo: rgb(255, 206, 12);
$naranja: rgb(255, 177, 0);
$rojo: rgb(244, 0, 0);
$gris: rgb(65, 68, 77);
$crema: rgb(245, 244, 226);
$azul: rgb(51, 122, 204);

$amarillo-suave: rgb(255, 251, 48);
$naranja-fuerte: rgb(252, 115, 3);