@import "~@angular/material/theming";
@import "dimensions";
@import "colors";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$space-xs: 5px;
$space-s: 10px;
$space-m: 25px;
$space-l: 50px;

.content{
    padding-top: 100px;
    overflow: hidden;
}

.top-s{
    margin-top: $space-s;
}

.top-m{
    margin-top: $space-m;
}

.half-width{
    width: 50% !important;
}

.full-width{
    width: 100% !important;
}

.middle-align{
    text-align: center !important;
}

.outlet{
    background-color: aquamarine !important;
}

.left-xs{
    margin-left: 5px;
}

.right{
    //float: right !important;
    position: fixed;
    margin-right: 50px;
}

.green-btn{
    background-color: #7EAF3B;
    margin-top: $space-m;
    color: whitesmoke !important;
}