@import "~@angular/material/theming";
@import "dimensions";
@import "colors";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$space-xs: 5px;
$space-s: 10px;
$space-m: 25px;
$space-l: 50px;

$verde: rgba(126, 175, 59, 1);
$strong-green: rgb(3, 96, 42);
$faded-green: rgba(3, 96, 42, 0.8);
$verde-ok:rgba(81, 158, 45, 1);


.content{
    padding-top: 110px;
    overflow: hidden;
    
}

.background-strong-green{
    background-color: $strong-green;    
}

.top-s{
    margin-top: $space-s;
}

.top-m{
    margin-top: $space-m;
}

.half-width{
    width: 50%;
}

.full-width{
    width: 100% !important;
}

// DESDE AQUI
.fuente {
    font-family: 'Poppins', sans-serif;
}

.verde {
    color: #7EAF3B;
}

.boton {
    border-radius: 40px;
    height: 60px;
    border: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.titulo-home {
    color: #7EAF3B;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.subtitulo {
    font-size: 23px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #4F4F4F;
}

.titulo {
    font-size: 42px;
    color: $gris;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.titulo-movil {
    font-size: 40px;
    color: $gris;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.subtitulo-movil {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #4F4F4F;
}

.parrafo {
    color: #4F4F4F;
    font-family: 'Poppins', sans-serif;
    font-size: 20;
}

.parrafo-movil {
    color: #4F4F4F;
    font-family: 'Poppins', sans-serif;
    font-size: 15;
    text-align: justify;
    width: 350px;
}

.middle-align{
    text-align: center !important;
}

.left-xs{
    margin-left: 5px;
}

.right{
    position: fixed;
    margin-right: 50px;
}

.green-btn{
    background-color: $verde;
    margin-top: $space-m;
    color: whitesmoke;
}

.cancel-btn {
    background-color: lightgray;
    margin-top: $space-m;
    color: grey;
}

.green-color{
    color: $verde;
}

.white-color{
    color: whitesmoke;
}

.green-bkg{
    background-color: $verde;
}