@import "~@angular/material/theming";
@import "dimensions";
@import "colors";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$space-xs: 5px;
$space-s: 10px;
$space-m: 25px;
$space-l: 50px;

$verde: rgba(126, 175, 59, 1);
$strong-green: rgb(3, 96, 42);
$faded-green: rgba(3, 96, 42, 0.8);
$verde-ok: rgba(81, 158, 45, 1);

html {
  position: relative;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px
}

body {
  margin: 0 0 110px;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url('src/assets/pattern.png');
  background-repeat: repeat;
}

.content {
  padding-top: 110px;
  overflow: hidden;
}

#container {
  max-width: 80%;
  margin: 0 auto;
}

.background-strong-green {
  background-color: $strong-green;
}

.top-s {
  margin-top: $space-s;
}

.top-m {
  margin-top: $space-m;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100% !important;
}

// DESDE AQUI
.fuente {
  font-family: 'Poppins', sans-serif;
}

.boton {
  border-radius: 40px;
  height: 60px;
  border: none;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.titulo-home {
  color: #7EAF3B;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.subtitulo {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #4F4F4F;
}

.titulo {
  font-size: 42px;
  color: $gris;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.titulo-movil {
  font-size: 40px;
  color: $gris;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.subtitulo-movil {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #4F4F4F;
}

.parrafo {
  color: #4F4F4F;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.parrafo-movil {
  color: #4F4F4F;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.middle-align {
  text-align: center !important;
}

.left-xs {
  margin-left: 5px;
}

.right {
  position: fixed;
  margin-right: 50px;
}

.green-btn {
  background-color: $verde;
  margin-top: $space-m;
  color: whitesmoke;
}

.cancel-btn {
  background-color: lightgray;
  margin-top: $space-m;
  color: grey;
}

.green-color {
  color: $verde;
}

.white-color {
  color: whitesmoke;
}

.green-bkg {
  background-color: $verde;
}

.carousel-indicators {
  display: none;
}

.telephone{
  padding-left: 5px;
  font-size: 30px;
  color: $white;
  display: inline-block;
  strong {
    display: block;
    white-space: nowrap;
    line-height: 1;
    margin-bottom: 2px;
    font-size: .9rem;
  }
}

.contenido {
  position: relative;
  overflow-y: auto;

  button {
    border-radius: 30px;
    padding: .5rem 2rem;
    background-color: $verde;
    width: 180px;
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
}

@media screen and (max-width: 960px){
  body {
    margin: 0;
    overflow-y: auto;
  }
  #container {
    max-width: 90%;
    margin: 0 auto;
  }
}
