<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="primary"
  maxWidth="auto"
  proportion="25"
  slides="3"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    [image]="'assets/carrusel-beneficios.jpg'"
    overlayColor="rgba(255, 177, 0, .51)"
    [hideOverlay]="false"
  >
    <div class="slide-container">
      <div class="slide-content">
        <div class="slide-text fuente">
          <p>Conoce los beneficios de Señor Fruits</p>
          <button class="boton font" routerLink="/beneficios-empresa" routerLinkActive="active">Ordenar</button>
        </div>
      </div>
    </div>
  </mat-carousel-slide>
  <mat-carousel-slide
    #matCarouselSlide
    [image]="'assets/carrusel-pedido.jpg'"
    overlayColor="rgba(255, 177, 0, .51)"
    [hideOverlay]="false"
  >
    <div class="slide-container">
      <div class="slide-content">
        <div class="slide-text fuente">
          <p>Checa nuestros productos</p>
          <button class="boton font" routerLink="/oferta" routerLinkActive="active">Ver</button>
        </div>
      </div>
    </div>
  </mat-carousel-slide>
  <mat-carousel-slide
    #matCarouselSlide
    [image]="'assets/carrusel-seleccion.jpg'"
    overlayColor="rgba(255, 177, 0, .51)"
    [hideOverlay]="false"
  ></mat-carousel-slide>

</mat-carousel>

<div fxLayout="row">
  <div fxFlex="50">
    <img src='assets/our-products-home.png' alt="products">
  </div>
  <div fxFlex="50" fxLayout.sm="column">
    <div class="contenido">
      <p class="titulo-home">Nuestros productos</p>
      <p class="parrafo">Consulta nuestros paquetes que ofrecen la mejor selección y variedad de nuestros
        productos.</p>
      <button class="boton" routerLink="/oferta" routerLinkActive="active">Catálogo</button>
    </div>
  </div>
</div>
<process-steps></process-steps>

<app-advantages></app-advantages>

<app-calculator></app-calculator>

<div fxLayout="row">
  <div fxFlex="50" fxLayoutAlign="center start">
    <div class="contenido">
      <p class="titulo-home">Atención inmediata</p>
      <p class="parrafo">¿Alguna pregunta? contacta Señor Fruits por cualquiera de sus canales</p>
      <button class="boton" routerLink="/contacto" routerLinkActive="active">Contacto</button>
    </div>
  </div>
  <div fxFlex="50" fxLayoutAlign="end end">
    <img src='assets/atencion-personal.png' alt="atencion">
  </div>
</div>
