$orange-faded: rgba(255, 191, 0, .9);

#offer{
    overflow: auto;
    padding-top: 50px;
    .offer-card{
        display: inline-block;
        margin: 5px;
    }

    #offer > img{
        height: 50px;
    }
}

.center{
    text-align: center;
    margin-bottom: 65px;
   .card-body{
       background-color: $orange-faded;
       opacity: .9;
       height: 265px;
       font-size: 15px;
   }
   .btn-link{
       background-color: rgba(126, 175, 59, 1);
       button{
           width: 100%;
           color: whitesmoke;
           font-size: 18px;
       }
   }
}

mat-grid-tile {
    text-align: center;
    border: 1px solid rgb(220, 224, 232);
    p{
        font-size: 13px;
    }

    mat-icon{
        font-size: 35px;
        text-align: center !important;
    }
  }


//   BIG SCREEN
@media(min-width: 600px){
    #process{
        padding-top: 10px;
        margin: 1%;
        span{
            padding-top: 15px;
        }
        mat-icon{
            margin-top: 10px;
        }
    }

    .carousel-top{
        padding-top: 96px;
    }
}

// SMALL SCREEN
@media(max-width: 600px){
    #process{
        padding-top: 20px;
        margin: 1%;
        p{
            font-size: 10px;
        }
        h6{
            display: none;
        }

        mat-icon{
            font-size: 25px;
        }
    }
    .center {
        padding-top: 96px;
    }

    .row {
        h3 {
            display: none;
        }
        p {
            font-size: 15px;
        }
    }
}

.card-img-top{
    height: 200px; //change en imagenes ya hechas con medidas correctas
    width: 240px;
}

.carrusel-link {
    color: white;
    font-size: 20px;
}