$orange-faded: rgba(255, 191, 0, .9);

#offer{
    overflow: auto;
    .offer-card{
        display: inline-block;
        margin: 5px;
    }

    #offer > img{
        height: 50px;
    }
}

.center{
    text-align: center;
   .card-body{
       background-color: $orange-faded;
       opacity: .9;
       height: 252px;
       font-size: 15px;
   }
   .btn-link{
       background-color: rgba(126, 175, 59, 1);
       button{
           width: 100%;
           color: whitesmoke;
       }
   }
}

mat-grid-tile {
    text-align: center;
    border: 1px solid rgb(220, 224, 232);
    p{
        font-size: 13px;
    }

    mat-icon{
        font-size: 35px;
        text-align: center !important;
    }
  }

@media(min-width: 600px){
    #process{
        padding-top: 10px;
        margin: 1%;
        span{
            padding-top: 15px;
        }
        mat-icon{
            margin-top: 10px;
        }
    }
}
    
@media(max-width: 600px){
    #process{
        padding-top: 20px;
        margin: 1%;
        p{
            font-size: 10px;
        }
        h6{
            display: none;
        }

        mat-icon{
            font-size: 25px;
        }
    }
}

.card-img-top{
    height: 200px; //change en imagenes ya hechas con medidas correctas
    width: 240px;
}