<div class="content center">

  <!-- SECCION TARJETAS -->
  <div class="center" id="offer">
    <div class="card offer-card" id="card1" style="width: 18rem;">
      <img class="card-img-top" src="assets/fruit-box.jpg" alt="Campesinos">
      <div class="card-body">
        <h5 class="card-title">Nuestra oferta</h5>
        <p class="card-text">El contrato de suscripción garantiza: precio fijo más bajo para todo el año,
          empaques reemplazables y entregas en un tiempo específico. Las entregas se pueden realizar
          diariamente o en los días que selecciones por semana.
        </p>
      </div>
      <div class="btn-link">
          <a routerLink="/oferta" routerLinkActive="active"><button mat-button>Visitar</button></a>
      </div>
    </div>

    <div class="card offer-card" id="card2" style="width: 18rem;">
      <img class="card-img-top" src="assets/fruits-1.jpg" alt="Frutas">
      <div class="card-body">
        <h5 class="card-title">Educación nutricional</h5>
        <p class="card-text">Si desea cambiar los hábitos alimenticios de los empleados de su empresa, 
          tenemos la solución perfecta para usted. En cooperación con dietistas, hemos preparado una 
          serie de materiales educativos que están a su disposición. Cuando pides fruta, la obtienes gratis.
        </p>
      </div>
      <div class="btn-link">
          <a routerLink="/oferta" routerLinkActive="active"><button mat-button>Visitar</button></a>
      </div>
    </div>

    <div class="card offer-card" id="card3" style="width: 18rem;">
      <img class="card-img-top" src="assets/field-2.jpg" alt="Campo mexicano">
      <div class="card-body">
        <h5 class="card-title">Botanas para conferencias</h5>
        <p class="card-text">¿Organiza formación, conferencias o reuniones de negocios? 
          Consulte nuestra oferta preparada especialmente para tales ocasiones. 
          Bocadillos frescos y saludables para conferencias garantizan el bienestar de los participantes.
        </p>
      </div>
      <div class="btn-link">
        <a routerLink="/oferta" routerLinkActive="active"><button mat-button>Visitar</button></a>
      </div>
    </div>
  </div>

  <!-- SECCION PROCESO -->

  <process-steps></process-steps>

  <extra-add-info></extra-add-info>

  <extra-content></extra-content>

</div>