<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="4000"
  color="primary"
  maxWidth="auto"
  proportion="35"
  slides="3"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    [image]="'assets/carrusel-beneficios.jpg'"
    overlayColor="rgba(255, 177, 0, .51)"
    [hideOverlay]="false"
  >
    <div class="slide-container">
      <div class="slide-content">
        <div class="slide-text fuente">
          <p>Conoce los beneficios de Señor Fruits</p>
          <button mat-button routerLink="/beneficios-empresa" routerLinkActive="active">Ver</button>
        </div>
      </div>
    </div>
  </mat-carousel-slide>
  <mat-carousel-slide
    #matCarouselSlide
    [image]="'assets/carrusel-pedido.jpg'"
    overlayColor="rgba(255, 177, 0, .51)"
    [hideOverlay]="false"
  >
    <div class="slide-container">
      <div class="slide-content">
        <div class="slide-text fuente">
          <p>Checa nuestra selección de paquetes</p>
          <button mat-button routerLink="/oferta" routerLinkActive="active">Ver</button>
        </div>
      </div>
    </div>
  </mat-carousel-slide>
  <mat-carousel-slide
    #matCarouselSlide
    [image]="'assets/carrusel-seleccion.jpg'"
    overlayColor="rgba(255, 177, 0, .51)"
    [hideOverlay]="false"
  ></mat-carousel-slide>

</mat-carousel>
<div fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex="50" fxFlexOrder.lt-md="2" >
    <img class="products" src='assets/our-products-home.png' alt="products">
  </div>
  <div fxFlex fxLayout.sm="column" fxFlexOrder.lt-md="1" >
    <div class="contenido">
      <p class="titulo-home">Nuestros productos</p>
      <p class="parrafo">Consulta nuestros paquetes que ofrecen la mejor selección y variedad de nuestros
          productos</p>
      <button mat-button routerLink="/oferta" routerLinkActive="active">Catálogo</button>
    </div>
  </div>
</div>

<process-steps></process-steps>

<app-advantages></app-advantages>

<app-calculator></app-calculator>

<div fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex="50" fxLayout.sm="column" fxLayoutAlign="center start">
    <div class="contenido">
      <p class="titulo-home">¿Alguna pregunta?</p>
      <p class="parrafo">Aqui puedes consultar las preguntas mas comunes de nuestros clientes</p>
      <button class="boton" routerLink="/preguntas" routerLinkActive="active">Ver</button>
    </div>
  </div>
  <div fxFlex="50" fxLayoutAlign="end end">
    <img class="atencion" src='assets/atencion-personal.png' alt="atencion">
  </div>
</div>
