<div class="tittle">
  <span class="advantages">Ventajas</span> y <span class="disadvantages">desventajas</span> de consumir frutas y verduras
</div>

<div class="benefits">
  <div class="red">
    <mat-card>
      <div class="benefit-card">
        <div class="benefit-photo" style="background-image: url('assets/fat.jpg')">
        </div>
        <div class="benefit-info">
          <span>Obesidad en México</span>
          <p>El 73% de la población adulta sufre de obesidad o sobrepeso. Lamentablemente México es uno de los países
            líderes en obesidad, tanto en hombres como en mujeres y niños.</p>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="green">
    <mat-card>
      <div class="benefit-card">
        <div class="benefit-photo" style="background-image: url('assets/happy-orange.jpg')">
        </div>

        <div class="benefit-info">
          <span>Beneficios de las frutas</span>
          <p>Las frutas nos aportan agua, vitaminas, minerales, fibra y diferentes compuestos
            beneficiosos para el organismo además por sus antioxidantes, previenen el envejecimiento
            prematuro de las células, dándote una piel más limpia, joven, suave y sana y mayor calidad de vida.
          </p>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="red">
      <mat-card>
        <div class="benefit-card">
          <div class="benefit-photo" style="background-image: url('assets/sick-person.jpg')">
          </div>
  
          <div class="benefit-info">
            <span>Enfermedades</span>
            <p>Sin frutas ni verduras se reducen las defensas del organismo, ya que la mayor 
              parte de los antioxidantes que luchan contra los radicales libres que estresan 
              las células de nuestro cuerpo se encuentran en estos alimentos. 
            </p>
          </div>
        </div>
      </mat-card>
    </div>

  <div class="green">
    <mat-card>
      <div class="benefit-card">
        <div class="benefit-photo" style="background-image: url('assets/happy-fruits.jpg')">
        </div>
        <div class="benefit-info">
          <span>Deliciosas</span>
          <p>Son dulces, sabrosas, tienen pocas calorías y prácticamente nada de grasas saturadas 
            (aquellas más perjudiciales para el organismo), por lo que son un buen capricho cuando 
            te entre tu vena más golosa.</p>
        </div>
      </div>
    </mat-card>
  </div>

</div>