@import "~src/sass/_colors.scss";
@import "~src/sass/_colors.scss";

@media (min-width: 360px) and (max-width: 480px) {

}

@media (min-width: 1180px) and (max-width: 1920px) {
  .parrafo {
    width: 320px;
  }
  .titulo {
    padding-top: 50px;
  }

  .second-row {
    padding-bottom: 40px;
  }
}
