<div fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex="50" fxLayout.sm="column" fxLayoutAlign="center center">
    <div class="contenido" fxFlexOffset="30%">
      <p class="titulo-home">{{ "Faq.AnyQuestion" | translate }}</p>
      <p class="parrafo">{{ "Faq.Faq" | translate}}</p>
      <button class="boton" routerLink="/preguntas" routerLinkActive="active">{{ "Home.BtnSeeText" | translate }}</button>
    </div>
  </div>
  <div fxFlex="50" fxLayoutAlign="end end">
    <img class="atencion" src='assets/atencion-personal.svg' alt="atencion">
  </div>
</div>
