<div fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex="50" fxLayout.sm="column" fxLayoutAlign="center center">
    <div class="contenido" fxFlexOffset="30%">
      <p class="titulo-home">¿Alguna pregunta?</p>
      <p class="parrafo">Aqui puedes consultar las preguntas mas comunes de nuestros clientes</p>
      <button class="boton" routerLink="/preguntas" routerLinkActive="active">Ver</button>
    </div>
  </div>
  <div fxFlex="50" fxLayoutAlign="end end">
    <img class="atencion" src='assets/atencion-personal.svg' alt="atencion">
  </div>
</div>
