#right-btn{
    float: right;
}

#left-btn{
    float: left;
}

.boxes{
    padding-left: 28px;
}

#info{
    color: black !important;
}

#buttons{
    overflow: auto;
}

.card-buttom{
    padding-top: 10px;
}

.send-title{
    color: green;
}