<div class="content" fxFlexLayout="column">
    <div>
        <offer></offer>
    </div>
    <div fxLayoutAlign="center center" class="tarjeta tarjetas">
        <div fxFlex="550px" fxLayoutAlign="start center" class="alert alert-primary" role="alert">
            <mat-icon>person</mat-icon>Cada caja rinde aproximadamente para 35 personas
        </div>
    </div>
    <div  fxLayoutAlign="center center"  class="tarjeta">
        <div fxFlex="550px" fxLayoutAlign="start center" class="alert alert-primary" role="alert">
            <mat-icon>local_shipping</mat-icon>La entrega es hasta la puerta de su oficina y de manera gratuita
    </div>
</div>