@import "~src/sass/_colors.scss";
@import "~src/sass/_dimensions.scss";

:host {
  .titulo {
    top: 10rem;
    padding: 140px 0 40px 0;
    width: 100%;
    border-bottom: 2px solid $amarillo;
  }
}

#container {
  padding-bottom: 15px;
}

offer, .advantages {
  margin: 3rem auto;
}
