@import "~src/sass/_colors.scss";
@import "~src/sass/_dimensions.scss";

#right-btn{
    float: right;
}

#left-btn{
    float: left;
}

.boxes{
    padding-left: 28px;
}

.green-btn{
    background-color: $green-600;
    color: $grey-50;
}

.cancel-btn {
    background-color: $grey-400;
    color: $grey-50;
}

#info{
    color: black !important;
}

#buttons{
    overflow: auto;
}

.card-buttom{
    padding-top: 10px;
}

.send-title{
    color: green;
}