@import "~src/sass/_colors.scss";
@import "~src/sass/_dimensions.scss";


#redirect-btn{
    float: right;
    button {
        border-radius: 4px;
        background-color: $green-600;
        color: $grey-50;
    }
}

#close-btn{
    float: left;
    button{
        border-radius: 4px;
        background-color: $grey-500;
        color: $grey-50;
    }
}

.boxes{
    padding-left: 28px;
}

#info{
    color: black !important;
}

#buttons{
    overflow: auto;
}

.card-buttom{
    padding-top: 10px;
}

.send-title{
    color: $grey-700;
    background-color: $amarillo;
    border-radius: 8px;
}

.result {
    border-radius: 15px;
}

button:focus {outline:0;}