<div class="content center">

  <!-- SECCION TARJETAS -->
  <div class="center" id="offer">
    <div class="card offer-card" id="card1" style="width: 18rem;">
      <img class="card-img-top" src="/assets/field-1.jpg" alt="Campesinos">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card offer-card" id="card2" style="width: 18rem;">
      <img class="card-img-top" src="/assets/fruits-1.jpg" alt="Frutas">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card offer-card" id="card3" style="width: 18rem;">
      <img class="card-img-top" src="/assets/field-2.jpg" alt="Campo mexicano">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>


  <!-- SECCION PROCESO -->

  <div id="process">
    <mat-grid-list cols="4" rowHeight="150px">

      <mat-grid-tile>
        <div class="process-step">
            <mat-icon>shopping_cart</mat-icon>
            <h6>Ordenar</h6>
            <p>
                Aceptamos solicitudes de lunes a viernes de 8 a 20 hrs.
            </p>
        </div>        
      </mat-grid-tile>

      <mat-grid-tile>
          <div class="process-step">
              <mat-icon>contact_phone</mat-icon>
              <h6>Contacto</h6>
              <p>
                  Nos comunicamos con usted en un periodo no mayor al siguiente dia laboral .
              </p>
          </div>        
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="process-step">
                <mat-icon>info</mat-icon>
                <h6>Ordenar</h6>
                <p>
                    We accept orders for fruit for the office from Monday to Friday from 8 am to 3 pm.
                </p>
            </div>        
          </mat-grid-tile>

          <mat-grid-tile>
              <div class="process-step">
                  <mat-icon>local_shipping</mat-icon>
                  <h6>Entrega</h6>
                  <p>
                      We accept orders for fruit for the office from Monday to Friday from 8 am to 3 pm.
                  </p>
              </div>        
            </mat-grid-tile>

    </mat-grid-list>
  </div>


</div>