
$opacity-min: .85;
$strong-green: #03602a;
$verde-ok:rgba(81, 158, 45, 1);
$white-text: white;

// BIG SCREEN
@media(min-width: 600px){
  .main-card{
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    text-align: center;
    mat-card{
      border-radius: 50px;
    }
  }

  .logo {
    text-align: center;
    float: left;
    width: 50%;
  }

  .company-info {
    float: right;
    border-left: 2px solid $verde-ok;
    color: $verde-ok;
    height: 160px;
    width: 50%;

    .mat-icon {
      font-size: 22px;
    }

    #contact-details {
      font-size: 15px;
      padding-left: 50px;
      padding-top: 30px;
      p {
        font-size: 13px;
        font-style: italic;
        padding-top: 5px;
      }
    }
  }

  .image {
    height: 130px;
    border-radius: 25px; //change
    background-size: auto;
    border: 3px solid $verde-ok;
  }

  .slogan {
    padding-top: 8px;
    font-size: 16px;
    font-style: italic;
    color: $verde-ok;
  }

  .content-info{
    color: $white-text;
    font-size: 13px;
    span{
      font-size: 20px;
      text-align: center;
    }
    p{
      text-align: justify;
      opacity: $opacity-min;
    }
  }
}

//SMALL SCREEN
@media(max-width: 600px){
  .main-card{
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
    mat-card{
      border-radius: 20px;
    }
  }

  .logo {
    display: none
  }

  .company-info {
    float: right;
    color: $verde-ok;
    height: 160px;
    width: 100%;
    text-align: center;
    .mat-icon {
      font-size: 17px;
    }

    #contact-details {
      font-size: 16px;
      padding-left: 10px;
      padding-top: 10px;
      p {
        color: $strong-green;
        opacity: .7;
        font-size: 15px;
        font-style: italic;
        padding-top: 2px;
      }
    }
  }

  .image {
    height: 70px;
    border-radius: 15px; //change
    background-size: auto;
    border: 2px solid $verde-ok;
  }

  .slogan {
    padding-top: 8px;
    font-size: 13px;
    font-style: italic;
    color: $verde-ok;
  }

  .content-info{
    color: $white-text;
    padding-left: 10px;
    text-align: center;
    font-size: 13px;
    span{
      font-size: 20px;      
    }
    p{
      opacity: $opacity-min;
      text-align: justify;
    }
  }
}

.contact {
  padding-top: 45px;
  padding-left: 10%;
  padding-right: 10%;
}

.visual {
  float: right;
  padding-right: 60px;
}