<div class="content">
  <div fxFlex fxLayout="column">

    <div fxFlex fxLayout="row" *ngIf="!employees && !deliveries" fxLayoutAlign="center center">
      <div fxFlex="550px" id="sugerencia">
        <div fxFlex="14" fxLayoutAlign="center center">
          <mat-icon>add_circle_outlet</mat-icon>
        </div>
        <div fxFlex="61" fxLayoutAlign="start center">
          Utiliza nuestra calculadora para saber cuanta fruta necesitas en tu empresa
        </div>
        <div fxFlex="25" fxLayoutAlign="center center">
          <button routerLink="/calculo" routerLinkActive="active">Calcular</button>
        </div>
      </div>
    </div>

    <div fxFlex id="result" fxLayout="row" *ngIf="employees && deliveries" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex="600px">

        <div fxLayout="row" fxFlex="75px" class="titulo-img">
          <div fxFlex="50" fxLayoutAlign="end center">
            Tu pedido
          </div>
          <div fxFlex="50" fxLayoutAlign="center center">
            <button mat-button (click)="showProducts()">Ver productos</button>
          </div>
        </div>

        <div fxLayout="row" fxFlex="150px" class="resumen">
          <div fxLayout="column" class="datos borde" fxLayoutAlign="start center" fxFlex="33">
            <div>
              <mat-icon class="icono">face</mat-icon>
            </div>
            <div>Colaboradores: <b>{{employees}}</b></div>
          </div>

          <div fxLayout="column" fxLayoutAlign="start center" fxFlex="34" class="datos borde">
            <div>
              <mat-icon class="icono">local_shipping</mat-icon>
            </div>
            <div>Entregas: <b>{{deliveries}}</b></div>
          </div>

          <div fxLayout="column" class="datos" fxLayoutAlign="start center" fxFlex="33">
            <div>
              <mat-icon class="icono">inbox</mat-icon>
            </div>
            <div matTooltip="El promedio de rendimiento por caja es de 35 personas">Cajas por entrega: <b>{{boxes}}</b></div>
          </div>

        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="seccion">
      <div fxFlex="1000px" fxLayoutAlign="center center" id="instrucciones">
        Contactate con nosotros para poder realizar tu pedido y no tengas que esperar, te atenderemos de inmediato
      </div>
    </div>

    <!-- CONTANCT CARD -->
    <div fxLayout="row" fxLayoutAlign="center center" class="seccion">
      <div fxLayout="row" fxFlex="750px" id="tarjeta">
        <div fxFlex="30" fxLayout="column" class="izquierda" fxLayoutAlign="center center">
          <div>
            <img class="image" src="assets/logo.png" alt="calidad">
          </div>
          <div id="slogan">"Por un trabajo fructífero"</div>
        </div>
        <div fxFlex="70" fxLayout="column" fxLayoutAlign="center start" class="derecha">
          <div>
            <mat-icon>phone</mat-icon><span> 336 059 8886</span>
          </div>
          <div>
            <mat-icon>mail</mat-icon><span> srfruits@srfruits.com.mx</span>
          </div>
          <div>
            <br>
            <p>Avenida Siempreviva 742,<br>Zapopan, Jalisco México.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>