@import "~src/sass/_colors.scss";
$opacity-min: .85;
$radio: 20px;

#tarjeta {
  border-radius: 25px;
  background-color: $naranja;
  .izquierda {
    margin: 60px;
    border-right: 2px solid $green-900;
  }
  .derecha{
    color: $green-900;
    font-size: 20px;
  }
  #slogan{
    color: $green-900;
    font-style: italic;
  }
}

#sugerencia {
  background-color: $melon;
  color: $grey-50;
  font-size: 18px;
  border-radius: 15px;
  height: 100px;
  mat-icon {
    font-size: 35px;
  }
  button {
    border-radius: 4px;
    background-color: $grey-50;
    color: $melon;
    border: none;
    height: 50px;
    width: 100px;
    cursor: pointer;
  }
}

.titulo-img {
  border-right: solid 2px $green-800;
  border-top: solid 2px $green-800;
  border-left: solid 2px $green-800;
  background-color: $naranja;
  color: $green-900;
  font-size: 25px;
  border-top-left-radius: $radio;
  border-top-right-radius: $radio;
  mat-icon{
    font-size: 40px;
  }
  button {
    background-color: $green-700;
    border-radius: 15px;
    color: $grey-50;
  }
}

.resumen {
  border: solid 2px $green-800;
  border-bottom-left-radius: $radio;
  border-bottom-right-radius: $radio;
}

.datos {
  color: $green-800;
  font-size: 16px;
  .icono{
    font-size: 45px;
    padding-top: 25px;
    color: $green-800;
  }
}

.borde {
  border-right: solid 2px $green-800;
}

#result {
  margin-top: 20px;
}

.info {
  font-size: 15px;
}

#instrucciones {
  height: 80px;
  font-size: 18px;
  background-color: $amarillo;
  color: $green-900;
  border-radius: $radio;
}


.image {
  height: 150px;
}

.seccion {
  margin-top: 30px;
}