<!-- <div class="content">
  Employees {{employees}}
  Deliveries {{deliveries}}
</div> -->

<div class="content">
  <div class="main-card">
    <mat-card class="background-faded-green">
      <div class="content-info">
        <p>
          La cantidad de fruta necesaria para su empresa depende de distintos factores como cantidad de empleados,
          numero de oficinas, pisos o cocinas de su empresa, frecuencias de entrega, etc. Es por eso que
          para proveer un mejor servicio y buscando su completa satisfacción usted puede contactarnos
          mediante nuestro número telefónico o email y nos comunicamos con usted en un periodo menor a 1 hora
          donde le brindaremos toda la información necesaria.
        </p>
      </div>
    </mat-card>
  </div>

  <!-- CONTANCT CARD -->
  <div class="contact">
    <!-- logo -->
    <div class="logo">
      <div class="visual">
          <div>
              <img class="image"  src="assets/logo.png" alt="calidad">
          </div>
          <div class="slogan">
            Slogan de compania
          </div>
      </div>
    </div>

    <!-- company info -->
    <div class="company-info">
      <div id="contact-details">
        <mat-icon>phone</mat-icon><span>   336 059 8886</span><br>
        <mat-icon>mail</mat-icon><span>   frutas.alvarez.garcia@gmail.com</span><br>
        <p>
            Avenida Siempreviva 742,<br>
            Zapopan, Jalisco México.
        </p>
      </div>
    </div>
  </div>

</div>