@import "~src/sass/_colors.scss";

footer {
  width: 100%;
  background-color: $verde;
  box-sizing: border-box;
  position: absolute;
  padding: 10px 50px;
  margin-top: 80px;
  height: 110px;
  overflow: hidden;
  bottom: 0;
  p {
    color: $white;
  }
  ::ng-deep .mat-list-item-content span {
    font-size: 18px;
  }
}

.footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

@media screen and (max-width: 960px){

  footer {
    position: relative;
    height: 460px;
    margin-top: 0;
    ::ng-deep a.mat-list-item {
      padding: 5px;
    }
  }

}
