<div class="footer-distributed">

  <div class="footer-right">
    <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
    <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a> 
  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      ·
      <a routerLink="/porque-nosotros" routerLinkActive="active">Nosotros</a>
      ·
      <a routerLink="/beneficios-empresa" routerLinkActive="active">Beneficios</a>
      ·
      <a routerLink="/oferta" routerLinkActive="active">Oferta</a>
      ·
      <a routerLink="/pedido" routerLinkActive="active">Pedidos</a>
      ·
      <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
    </p>

    <p>Frutas Alvarez &copy; {{currentYear}}</p>
  </div>

</div>