<div class="footer-distributed">

  <div class="footer-right">
    <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
    <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a> 
  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Nosotros</a>
      ·
      <a href="#">Beneficios</a>
      ·
      <a href="#">Oferta</a>
      ·
      <a href="#">Pedidos</a>
      ·
      <a href="#">Contacto</a>
    </p>

    <p>Frutas Alvarez &copy; {{currentYear}}</p>
  </div>

</div>