@import "~src/sass/_colors.scss";

$back-color-faded: rgba(190, 217, 50, 1);
$text-color: rgba(0,0,0,.5);
$verde: rgb(121, 191, 40);

mat-sidenav-content {
  overflow-y: auto;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

mat-toolbar {
  background: linear-gradient(0deg, rgba(249,168,37,0) 0%, rgb(142, 88, 0) 100%) !important;
  position: absolute;
  top: 0;
  height: 120px;
  z-index: 2;
  a {
    display: inline-block;
    margin: 0 10px;
    color: $white;
    font-weight: 700;
    font-size: 1.45rem;
    text-decoration: none;
  }
  mat-icon {
    color: $white;
  }
  .phone, .language {
    margin-right: .5rem;
  }
}

.header-logo{
  text-align: center;
  background-color: #FFBF00;
  padding: 15px 9px;
  margin-top: 10px;
  border-radius: 50%;
  height: 112px;
  border: 4px solid #72A831;
  box-sizing: border-box;
  img{
    display: block;
    height: 80px;
    margin: 0 auto;
  }
}

.bar-items-text{
  padding-bottom: 5px;
}

mat-icon.phone {
  border: solid 1px $white;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar-items {
  padding-top: 10px;
}

.social-network{
  padding-left: 100px;
  color: $text-color;
  mat-icon{
    font-size: 28px;
  }
}

.icon{
  font-size:26px;
  padding-left: 8px;
  color: white;
}

.link-item > *{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 21px;
  color: $green-800;
  background-color: $naranja;
  font-weight: 500;
  cursor: pointer;
}

.drop-background{
  background-color: $back-color-faded;
}

@media screen and (max-width: 960px){
  .mat-drawer:not(.mat-drawer-side) {
    width: 100%;
    background-color: $naranja;
    padding: 80px 20px;
    .mat-nav-list .mat-list-item {
      color: $white;
      font-size: 28px;
      font-weight: 700;
      padding: 20px;
    }
    mat-icon, .language {
      margin-right: .5rem;
      color: $white;
      font-size: 24px;
    }
  }
  .navigation{
    display: none;
  }
  .header-logo{
    margin-top: -10px;
    height: 70px;
    img{
      height: 40px;
    }
  }
  .telephone {
    strong {
      white-space: normal;
      line-height: 1;
      width: 80px;
      font-size: .6em;
    }
  }
}
