@import "~src/sass/_colors.scss";

$back-color-faded: rgba(190, 217, 50, 1);
$text-color: rgba(0,0,0,.5);
$verde: rgb(121, 191, 40);
$fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

.header-logo{
  text-align: center;
  img{
    display: block;
    height: 80px;
    padding-left: 8px;
    margin: 0 auto;
  }
}

.navigation{
  background-color: $amarillo;
  height: 96px;
  top: 0;
}

.bar-items-text{
  padding-bottom: 5px;
}

.telephone{
  padding-left: 5px;
  font-size: 30px;
  font-family: $fuente;
}

.navbar-items {
  padding-top: 10px;  
}

.social-network{
  padding-left: 100px;
  color: $text-color;
  mat-icon{
    font-size: 28px;
  }
}

.icon{
  font-size:26px;
  padding-left: 8px;
  color: white;
}

.link-item > *{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  opacity: .9;
  background-color: $amarillo;
}

.drop-background{
  background-color: $back-color-faded;
}
