$back-color: rgb(245, 244, 226);
$text-color: rgba(0,0,0,.5);

.header-logo{
  display: block;
  height: 60px;
  padding-left: 8px;
}

.navigation{
  background-color: $back-color;
  top: 0;
}

.bar-items-text{
  padding-bottom: 5px;
}

.telephone{
  padding-left: 5px;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.social-network{
  padding-left: 100px;
  opacity: .9;
  color: $text-color;
}

.icon{
  font-size:26px;
  padding-left: 8px;
  color: white;
}

.link-item > *{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: .9;
  font-size: 18px;
}

.white-background{
  background-color: white;
}
