$back-color: rgb(190, 217, 50);
$back-color-faded: rgba(190, 217, 50, 1);
$text-color: rgba(0,0,0,.5);
$fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

.header-logo{
  display: block;
  height: 60px;
  padding-left: 8px;
}

.navigation{
  background-color: $back-color;
  top: 0;
}

.bar-items-text{
  padding-bottom: 5px;
}

.telephone{
  padding-left: 5px;
  font-size: 24px;
  font-family: $fuente;
}

.social-network{
  padding-left: 100px;
  color: $text-color;
}

.icon{
  font-size:26px;
  padding-left: 8px;
  color: white;
}

.link-item > *{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  opacity: .9;
}

.drop-background{
  background-color: $back-color-faded;
}
