// .header {
//   background-color: #7EAF3B;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   color: rgba(255, 255, 255, 0.87);
//   position: fixed;
//   z-index: 100;
//   right: 0;
//   left: 0;
//   top: 0;

//   transition: top ease-in-out 0.5s;

//   height: 64px;
//   display: flex;
//   align-items: center;

//   .header-logo {
//     display: block;
//     height: 56px;
//   }
// }


.header-logo{
  display: block;
  height: 60px;
  padding-left: 8px;
}

.navigation{
  background-color: #7EAF3B;
  top: 0;
}

.bar-items-text{
  padding-bottom: 5px;
}

.telephone{
  color: antiquewhite;
  padding-left: 5px;
  font-size: 22px;
}

.social-network{
  padding-left: 100px;
}

.icon{
  font-size:26px;
  padding-left: 8px;
  color: white;
}

.white-color > *{
  color: white;
  opacity: .9;
}

.white-background{
  background-color: white;
}
