<mat-nav-list fxLayout="row"
              fxLayoutAlign="center center"
              fxLayoutAlign.lt-md="start"
              fxFlex fxLayout.lt-md="column">
  <a mat-list-item class="nav-link" routerLink="/home" routerLinkActive="active" (click)="onSidenavClose()"><span
    translate>Navigation.Home</span></a>
  <a mat-list-item class="nav-link" routerLink="/beneficios-empresa" routerLinkActive="active" (click)="onSidenavClose()"><span
    translate>Navigation.Benefits</span></a>
  <a mat-list-item class="nav-link" routerLink="/oferta" routerLinkActive="active" (click)="onSidenavClose()"><span
    translate>Navigation.Products</span></a>
  <a mat-list-item class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="onSidenavClose()"><span
    translate>Navigation.Contact</span></a>
</mat-nav-list>
