<mat-nav-list fxLayout="row"
              fxLayoutAlign="center center"
              fxLayoutAlign.lt-md="start"
              fxFlex fxLayout.lt-md="column">
  <a mat-list-item class="nav-link" routerLink="/home" routerLinkActive="active" (click)="onSidenavClose()"><span
    translate>COMMON.HOME</span></a>
  <a mat-list-item class="nav-link" routerLink="/beneficios-empresa" routerLinkActive="active" (click)="onSidenavClose()"><span
    translate>COMMON.BENEFITS</span></a>
  <a mat-list-item class="nav-link" routerLink="/oferta" routerLinkActive="active" (click)="onSidenavClose()"><span
    translate>COMMON.OFFER</span></a>
  <a mat-list-item class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="onSidenavClose()"><span
    translate>COMMON.CONTACT</span></a>
</mat-nav-list>
