@import "~src/sass/_colors.scss";

.mat-list-item {
  margin: 0 10px;
  color: $white;
  font-weight: 700;
  font-size: 1.45rem;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .mat-drawer:not(.mat-drawer-side) {
    width: 100%;
    background-color: $naranja;
    padding: 80px 20px;

    .mat-nav-list .mat-list-item {
      color: $white;
    }

    mat-icon {
      margin-right: .5rem;
      color: $white;
      font-size: 24px;
    }
  }
  a {
    padding: 0;

    &.mat-list-item {
      color: $white;
      font-size: 28px;
      font-weight: 700;
      margin: 20px;
    }
  }
}
