@import "~src/sass/_colors.scss";

.header-container {
    width: 100%;
    min-height: 70px;
    vertical-align: middle;
    display: inline-block;
}

.logo {
    float: left;
    img {
        height: 60px;
    }    
}

.tittle-text {
    font-size: 35px;
    color: white;
    padding-top: 5px;
    text-align: center;
}

.verde {
    background-color: $verde;
}

.amarillo {
    background-color: $amarillo;
}

.naranja {
    background-color: $naranja;
}

.rojo {
    background-color: $rojo;
}

.gris {
    background-color: $gris;
}

.crema {
    background-color: $crema;
}