$verde: rgb(190, 217, 50);
$amarillo: rgb(255, 206, 12);
$naranja: rgb(255, 142, 4);
$rojo: rgb(230, 0, 47);
$gris: rgb(65, 68, 77);
$crema: rgb(245, 244, 226);

.header-container {
    width: 100%;
    height: 70px;
    margin-top: 50px;
    vertical-align: middle;
}

.tittle-text {
    font-size: 35px;
    color: white;
    padding-top: 5px;
}

.verde {
    background-color: $verde;
}

.amarillo {
    background-color: $amarillo;
}

.naranja {
    background-color: $naranja;
}

.rojo {
    background-color: $rojo;
}

.gris {
    background-color: $gris;
}

.crema {
    background-color: $crema;
}