@import "~src/sass/_colors.scss";
@import "~src/sass/_dimensions.scss";

.parrafo {
  width: 320px;
}

.titulo {
  padding-top: $space-lg;
  padding-bottom: $space-md;
}

.valores {
  padding-top: 25px;

  label {
    color: $verde;
  }
}

.container {
  padding-bottom: $space-xxl;
}

.info-row {
  padding-bottom: $space-md;
}

#tarjeta {
  margin-right: 10%;
  mat-card {
    border-radius: 5px;
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
  }
}

.subtitulo {
  padding-bottom: 10px;
  color: $gris;
}

.item {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $gris;
}

.valor {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $verde;
}

.cajas {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $gris;
}

.boton-verde {
  padding: 50px 0 0 20px;

  button {
    color: white;
    background-color: $verde;
    width: 183px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    height: 53px;
    border: none;
  }
}

.telefono {
  color: $verde;
  font-size: 26px;
  font-weight: bold;
  mat-icon {
    border: solid 1px $verde;
    border-radius: 50%;
    padding: 10px;
    margin-right: 1rem;
  }
  span {
    display: block;
    white-space: nowrap;
    line-height: 1.8;
  }
}

.item {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $gris;
}

.valor {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $verde;
}

.cajas-resultado {
  font-size: 19px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $verde;
}

.grande {
  background-color: $amarillo;
  margin-top: $space-xxl;
}

#movil {
  background-color: $amarillo;
}

.fuente {
  font-size: 18px;
  text-align: justify;
}

@media screen and (max-width: 960px) {
  #tarjeta {
    margin-right: 0;
  }
  mat-card {
    margin-top: 20px;
    padding: 40px;
  }
  .boton-verde {
    padding: 20px;
    a {
      color: $white;
      text-decoration: none;
    }
  }
}
