@import "~src/sass/_colors.scss";

.titulo {
  font-size: 28px;
  color: $grey-800;
  margin-top: 10px;
  font-weight: 500;
}

.descripcion {
  font-size: 15px;
  text-align: justify;
  color: $grey-800;
  font-weight: bold;
  font-weight: 500;
}

.entregas {
  padding-left: 65px;
}

.calculador {
  background-color: $verde;
  border-radius: 15px;
}

.btn-calcular {
  padding-bottom: 20px;
  button {
    background-color: $naranja;
    border: none;
    border-radius: 5px;
    color: $grey-800;
    width: 120px;
    margin: 6px;
  }
}

input {
  width: 110px;
}