@import "~src/sass/_colors.scss";

.titulo {
  font-size: 28px;
  color: $grey-800;
  margin-top: 10px;
  font-weight: 500;
}

.descripcion {
  font-size: 16px;
  text-align: justify;
  color: $grey-800;
}

.entregas {
  padding-left: 65px;
}

.calculador {
  background-color: $naranja;
  border-radius: 15px;
}

.btn-calcular {
  padding-bottom: 20px;
  button {
    background-color: $green-700;
    border: none;
    border-radius: 5px;
    color: $white;
    width: 120px;
    height: 45px;
    font-size: 20px;
    margin: 6px;
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
    background-color: $grey-500;
  }
}

input {
  width: 110px;
}

.field {
  padding-bottom: 15px;
}