<div class="content">
  <tittle-header color='verde' text='Calcula tu pedido'></tittle-header>

  <div fxLayout="row" class="calculator" fxLayoutAlign="center center">
    <div fxFlex="580px" class="calculador">
      <div fxLayout="column" fxLayoutGap="15px">

        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="titulo fuente" fxLayoutAlign="center">
            ¿Cuanta fruta necesita mi empresa?
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="80" class="descripcion fuente">
            La dosis recomendada segun la OMS es de 5 porciones al dia. Inserta la cantidad
            de colaboradores de tu empresa y la cantidad de entregas semanales y calcula
            cuanta fruta necesitas semanalmente
          </div>
        </div>

        <div fxLayoutAlign="center">
          <mat-form-field>
            <input matInput #employees type="number" value="1" max="1500" placeholder="Empleados"
              (keyup)="setColaborators(employees.value)">
            <mat-hint align="start"><strong>De 1 a 1500</strong></mat-hint>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center">
          <mat-form-field>
            <mat-label>Entregas semanales</mat-label>
            <mat-select #deliveries value="1" (selectionChange)="setDeliveries(deliveries.value)">
              <mat-option value="1">1 vez</mat-option>
              <mat-option value="2">2 veces</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" class="btn-calcular">
          <button (click)="calculate()">Calcular</button>
        </div>

      </div>
    </div>
  </div>
</div>