@import "~src/sass/_colors.scss";
@import "~src/sass/_dimensions.scss";

.parrafo {
  width: 320px;
}

.titulo {
  padding-top: 50px;
}

.valores {
  padding-top: 25px;

  label {
    color: $verde;
  }
}

.second-row {
  padding-bottom: 40px;
}

#tarjeta {
  margin-right: 10%;
  mat-card {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .3);
  }
}

.subtitulo {
  padding-bottom: 10px;
  color: $gris;
}

.item {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $gris;
}

.valor {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $verde;
}

.cajas {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $gris;
}

.boton-verde {
  padding: 50px 0 0 20px;

  button {
    color: white;
    background-color: $verde;
    width: 183px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    height: 53px;
    border: none;
  }
}

.telefono {
  color: $verde;
  font-size: 26px;
  font-weight: bold;
  mat-icon {
    border: solid 1px $verde;
    border-radius: 50%;
    padding: 10px;
    margin-right: 1rem;
  }
  span {
    display: block;
    white-space: nowrap;
    line-height: 1.8;
  }
}

.item {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $gris;
}

.valor {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $verde;
}

.cajas-resultado {
  font-size: 19px;
  font-weight: bold;
  font-family: 'Poppins';
  color: $verde;
}

#grande {
  background-color: $amarillo;
  padding: $space-lg;
}

#movil {
  background-color: $amarillo;
}

.fuente {
  font-size: 18px;
  text-align: justify;
}
