<div class="main">
  <div class="left-section">
    <span>¿Porque Nosotros?</span>
    <p>
        La calidad y la satisfacción del cliente son fructíferas. Llevamos 7 años 
        suministrando fruta a las oficinas y durante ese tiempo nos hemos ganado la 
        confianza de más de 50 empresas reconocidas en Mexico. Sabemos que la 
        calidad es lo más importante para usted, por lo que cada fruta está envuelta 
        a mano y verificada para la calidad visual. Las personas responsables de comprar 
        fruta siempre verifican su sabor antes de comprar fruta, por lo que solo las 
        mejores variedades lo alcanzan. Las mejores frutas en el trabajo son frutas de Frutas Alvarez.
    </p>
    <div class="btn">
        <a routerLink="/porque-nosotros" routerLinkActive="active"><button mat-button><span>Ver</span></button></a>
    </div>    
  </div>

  <div class="right-section">
    <img src="assets/fruit-gif.gif">
  </div>

</div>
