$strong-green: rgb(81, 158, 45);
$orange: rgba(252, 122, 0, .8);
$opacity-min: .85;

// BIG SCREEN
@media(min-width: 600px){
    .main{
        
    }
    .left-section{
        float: left;
        width: 50%;
        padding-left: 15%;
    }

    .right-section{
        float: right;
        width: 50%;
    }
    
}

//SMALL SCREEN
@media(max-width: 600px){
    .main{
        
    }

    .left-section{
        width: 80%;
        margin-left: 10%;
        font-size: 15px;
    }

    .right-section{
        float: right;
        display: none;
    }
}

.main{
    padding-top: 45px;
    overflow: hidden;
    padding-bottom: 45px;
}

.left-section{
    span{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 33px;
        color: $strong-green;
        opacity: .8;
    }
    p{
        padding-top: 20px;
        color:rgba(3, 96, 42, .80);
        font-family: Arial, Helvetica, sans-serif; //change
        opacity: 1;
        text-align: justify;
    }
}

.btn{    
    button{
        width: 170px;
        border-radius: 15px;
        background-color: rgb(81, 158, 45);
    }
    span{
        font-size: 18px;
        color: white;
    }
}