<div class="contact-form" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">

  <div class="left-panel" fxFlex="25" fxLayoutAlign="center center">
    test
  </div>

  <div class="right-panel" fxLayout="column" fxFlex="65" fxLayoutAlign="start center">
    
    <span class="title">CONTACTO</span>

    <div fxFill>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="30" class="logo" style="background-image: url('assets/logo-full.png');">
                first
              </div>
          
              <div fxFlex="60">
                second
              </div>
        </div>
    </div>

  </div>

</div>