<div class="titulo" fxLayoutAlign="center center">{{ "Contact.Title" | translate}}</div>

<div id="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="45px">
  <div fxFlexOffset="10">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="15px" class="contact-details">

      <div><img class="logo" src="assets/logo.png"></div>

      <call-us [style]="'green'"
               [subcaption]="'Navigation.WhatsUp'"
               [phonenumber]="'Navigation.PhoneNumber'">
      </call-us>

      <div class="email">
        <span>contacto@srfruits.com.mx</span>
      </div>

      <div class="social-network">
        <a href="http://www.instagram.com/srfruits_mx" target="_blank"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com/srfruitsmx" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/srfruitsmx" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>

      <div>
        <p class="WorkingHours">{{"Contact.WorkingHours.Title" | translate}}</p>
        <div fxLayout="row">
          <mat-list class="WorkingWeek">
            <mat-list-item *ngFor="let day of week">
              <div fxFlex class="WorkingWeekRow" fxLayout="row">
                <strong>{{day.day | translate}}:</strong>
              </div>

              <div fxLayoutAlign="start center">
                <p class="{{day.style}}">{{day.hours | translate}}</p>
              </div>

            </mat-list-item>
          </mat-list>
        </div>
      </div>

    </div>
  </div>

  <div fxLayoutAlign="end">
    <div class="imagen">
      <img src="assets/contact-us-image.svg" alt="contacto">
    </div>

  </div>
</div>
