<div class="content">

  <div id="#left-panel" class="left-div">
    <mat-card class="example-card">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header> -->
      <img mat-card-image src="assets/contact-us.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Preferimos la atención personal donde podamos atenderle de manera inmediata sin espera, 
          por eso lo invitamos a comunicarse con nosotros a través de nuestros diversos canales.
        </p>
        <span class="icons">
            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>&nbsp; &nbsp; &nbsp;
            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>&nbsp;  &nbsp; &nbsp;
            <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>  
        </span>
        <p> </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- FORMULARIO -->
  <div id="#right-panel" class="form-container contact-form">

    <mat-form-field class="left-xs" style="margin-top: 10px;">
      <input matInput placeholder="Nombre o Empresa" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessages('name')}}</mat-error>
    </mat-form-field>

    <mat-form-field class="left-xs">
      <input matInput placeholder="Correo electrónico" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessages('email')}}</mat-error>
    </mat-form-field>

    <div class="left-xs">
      <mat-form-field>
        <input matInput type="tel" placeholder="Teléfono" #tel maxlength="20" [formControl]="telephone">
        <mat-hint align="end">{{tel.value.length}} / 20</mat-hint>
      </mat-form-field>
    </div>

    <mat-form-field class="left-xs">
      <textarea matInput placeholder="Comentario" rows="10" [formControl]="comment" required></textarea>
      <mat-error *ngIf="comment.invalid">{{getErrorMessages('comment')}}</mat-error>
      <mat-hint align="start"><i>No enviar información personal</i></mat-hint>
    </mat-form-field>

    <!-- <div class="top-s notification-check left-xs">
      <mat-checkbox>Recibir novedades en correo</mat-checkbox>
    </div> -->

    <div class="top-s">
      <button mat-button color="primary" (click)="send()" class="submit-btn">
        <span class="text">Enviar</span>
      </button>
    </div>

  </div>
</div>