@import "~src/sass/_colors.scss";

.contact-form {
  padding-top: 135px;
}

.contact {
  background-color: $verde;
  border-radius: 30px;
  min-height: 650px;
}

.imagen {
  img {
    width: 625px;
  }
}

.logo {
  width: 100px;
  margin-top: 35px;
}

.social-network {
  font-size: 35px;
  i {
    color: $grey-700;
  }
}

.contact-details{
  background-color: $amarillo;
  height: 375px;
  margin-top: -65px;
  color: $grey-700;
  font-size: 22px;
  border-radius: 25px;
}