@import "~src/sass/_colors.scss";


.left-panel {
  border: 2px solid $verde;
  border-radius: 15px;
  height: 500px;
}

.right-panel {
  border: 3px solid $naranja;
  border-radius: 25px;
  height: 400px;
}

.logo {
}

.contact-form {
  padding-top: 156px;
}

.title {
  margin: -22px 0 10px 0;
  background: white;
  text-align: center;
  width: 160px;
  color: $naranja; 
  font-size: 25px;
}