<div class="content">

  <div class="center">
    <!-- SECCION TARJETAS -->
    <div class="center" id="offer">
      <div class="card offer-card" style="width: 18rem;">
        <img class="card-img-top" src="assets/fruit-box.jpg" alt="Campesinos">
        <div class="">
          <div class="pkg-description card-body">
            <span class="card-title">Mezcla +</span>
            <p>
              2 kg Manzana<br />
              2 kg Plátano<br />
              2 kg Fruta de temporada
            </p>
          </div>
          <div class="capacity">
            <span>
              <mat-icon>person</mat-icon> Hasta 40 personas
            </span>
          </div>
        </div>
        <div class="btn-link">
          <button mat-button>Pedir</button>
        </div>
      </div>

      <div class="card offer-card" style="width: 18rem;">
        <img class="card-img-top" src="assets/fruits-1.jpg" alt="Frutas">
        <div class="">
          <div class="pkg-description card-body">
            <span class="card-title">Mezcla +</span>
            <p>
              2 kg Manzana<br />
              3 kg Plátano<br />
              3 kg Fruta de temporada
            </p>
          </div>
          <div class="capacity">
            <span>
              <mat-icon>person</mat-icon> Hasta 40 personas
            </span>
          </div>
        </div>
        <div class="btn-link">
          <button mat-button>Pedir</button>
        </div>
      </div>

      <div class="card offer-card" style="width: 18rem;">
        <img class="card-img-top" src="assets/field-2.jpg" alt="Campo mexicano">
        <div class="">
          <div class="pkg-description card-body">
            <span class="card-title">Mezcla +</span>
            <p>
              2 kg Manzana<br />
              3 kg Plátano<br />
              3 kg Fruta de temporada<br />
              1 kg de uva
            </p>
          </div>
          <div class="capacity">
            <span>
              <mat-icon>person</mat-icon> Hasta 40 personas
            </span>
          </div>
        </div>
        <div class="btn-link">
          <button mat-button>Pedir</button>
        </div>
      </div>
    </div>
  </div>

  <!-- OTRA -->

  <div class="center margin-top">
      <!-- SECCION TARJETAS -->
      <div class="center" id="offer">
        <div class="card offer-card" style="width: 18rem;">
          <img class="card-img-top" src="assets/fruit-box.jpg" alt="Campesinos">
          <div class="">
            <div class="pkg-description card-body">
              <span class="card-title">Mezcla +</span>
              <p>
                2 kg Manzana<br />
                2 kg Plátano<br />
                2 kg Fruta de temporada
              </p>
            </div>
            <div class="capacity">
              <span>
                <mat-icon>person</mat-icon> Hasta 40 personas
              </span>
            </div>
          </div>
          <div class="btn-link">
            <button mat-button>Pedir</button>
          </div>
        </div>
  
        <div class="card offer-card" style="width: 18rem;">
          <img class="card-img-top" src="assets/fruits-1.jpg" alt="Frutas">
          <div class="">
            <div class="pkg-description card-body">
              <span class="card-title">Mezcla +</span>
              <p>
                2 kg Manzana<br />
                3 kg Plátano<br />
                3 kg Fruta de temporada
              </p>
            </div>
            <div class="capacity">
              <span>
                <mat-icon>person</mat-icon> Hasta 40 personas
              </span>
            </div>
          </div>
          <div class="btn-link">
            <button mat-button>Pedir</button>
          </div>
        </div>
  
        <div class="card offer-card" style="width: 18rem;">
          <img class="card-img-top" src="assets/field-2.jpg" alt="Campo mexicano">
          <div class="">
            <div class="pkg-description card-body">
              <span class="card-title">Mezcla +</span>
              <p>
                2 kg Manzana<br />
                3 kg Plátano<br />
                3 kg Fruta de temporada<br />
                1 kg de uva
              </p>
            </div>
            <div class="capacity">
              <span>
                <mat-icon>person</mat-icon> Hasta 40 personas
              </span>
            </div>
          </div>
          <div class="btn-link">
            <button mat-button>Pedir</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 3ERA -->

    <div class="center margin-top">
        <!-- SECCION TARJETAS -->
        <div class="center" id="offer">
          <div class="card offer-card" style="width: 18rem;">
            <img class="card-img-top" src="assets/fruit-box.jpg" alt="Campesinos">
            <div class="">
              <div class="pkg-description card-body">
                <span class="card-title">Mezcla +</span>
                <p>
                  2 kg Manzana<br />
                  2 kg Plátano<br />
                  2 kg Fruta de temporada
                </p>
              </div>
              <div class="capacity">
                <span>
                  <mat-icon>person</mat-icon> Hasta 40 personas
                </span>
              </div>
            </div>
            <div class="btn-link">
              <button mat-button>Pedir</button>
            </div>
          </div>
    
          <div class="card offer-card" style="width: 18rem;">
            <img class="card-img-top" src="assets/fruits-1.jpg" alt="Frutas">
            <div class="">
              <div class="pkg-description card-body">
                <span class="card-title">Mezcla +</span>
                <p>
                  2 kg Manzana<br />
                  3 kg Plátano<br />
                  3 kg Fruta de temporada
                </p>
              </div>
              <div class="capacity">
                <span>
                  <mat-icon>person</mat-icon> Hasta 40 personas
                </span>
              </div>
            </div>
            <div class="btn-link">
              <button mat-button>Pedir</button>
            </div>
          </div>
    
          <div class="card offer-card" style="width: 18rem;">
            <img class="card-img-top" src="assets/field-2.jpg" alt="Campo mexicano">
            <div class="">
              <div class="pkg-description card-body">
                <span class="card-title">Mezcla +</span>
                <p>
                  2 kg Manzana<br />
                  3 kg Plátano<br />
                  3 kg Fruta de temporada<br />
                  1 kg de uva
                </p>
              </div>
              <div class="capacity">
                <span>
                  <mat-icon>person</mat-icon> Hasta 40 personas
                </span>
              </div>
            </div>
            <div class="btn-link">
              <button mat-button>Pedir</button>
            </div>
          </div>
        </div>
      </div>

</div>