@import "~src/sass/_colors.scss";
@import "~src/sass/_dimensions.scss";


.verde {
  border: 2px solid $green-500;
  .contenido{
    width: 100%;
    background-color: $green-500;
    color: $grey-800;
  }
}

.amarillo{
  border: 2px solid $amarillo;
  .contenido{
    width: 100%;
    background-color: $amarillo;
    color: $grey-700;
  }
}

.naranja{
  border: 2px solid $naranja-fuerte;
  .contenido{
    width: 100%;
    background-color: $naranja-fuerte;
    color: $grey-700;
  }
}


.imagen {  
  img {
    height: 200px;
  }
}


.temporada {
  mat-icon {
    font-size: 16px;
  }
}

.capacidad {
  padding-top: 40px;
  mat-icon {
    font-size: 25px;
  }
}