@import "~src/sass/_colors.scss";
@import "~src/sass/_dimensions.scss";

img {
  max-width: 336px;
}

.verde {
  padding-top: 30px;
  background-color: #F2FBEF;

  .contenido {
    background-color: #DDF4D5;
    color: $grey-800;
    overflow: hidden;
  }
}

.contenido {
  min-height: 100px;
}

.amarillo {
  padding-top: 30px;
  background-color: #FFF7E8;

  .contenido {
    background-color: #FEEFD1;
    color: $grey-700;
    overflow: hidden;
  }
}

.naranja {
  padding-top: 30px;
  background-color: #FDEEEF;

  .contenido {
    background-color: #FADEDF;
    color: $grey-700;
    overflow: hidden;
  }
}

.description {
  padding: 20px 10px 10px;
  min-height: 200px;
}

.contenido {
  & {
    width: 100%;
    padding: $dimension-xs 0;
  }

  h3 {
    padding-top: $space-xs;
  }
}

.imagen {
  img {
    display: block;
    padding: 30px 10px;
    width: 90%;
  }
}

.temporada {
  mat-icon {
    font-size: 16px;
  }
}

mat-list-item {
  & {
    height: 46px !important;
  }

  mat-icon {
    color: $verde;
  }

  p {
    mat-icon {
      font-size: 14px;
      color: $green-300;
    }
  }
}
