<div fxLayout="column" fxLayoutGap="60px">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutGap="45px">

    <div fxLayout="column" fxFlex="33%" class="verde" fxLayoutAlign="center center">
      <h2>Standar</h2>
      <div class="imagen" fxFlex="240px" fxLayoutAlign="center center">
        <img src="assets/wood-box.png" alt="Campesinos">
      </div>
      <mat-list class="description">
        <mat-list-item *ngFor="let standar of standar">
          <mat-icon mat-list-icon>new_releases</mat-icon>
          <p mat-line matTooltip="{{standar.tooltip}}">
            <strong>{{standar.kilo}} kg</strong>
            {{standar.title}}
            <mat-icon *ngIf="standar.tooltip">info</mat-icon>
          </p>
        </mat-list-item>
      </mat-list>
      <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="contenido">
        <phone-slider></phone-slider>
      </div>
    </div>

    <div fxLayout="column" fxFlex="33%" class="amarillo" fxLayoutAlign="center center">
      <h2>Más</h2>
      <div class="imagen" fxFlex="240px" fxLayoutAlign="center center">
        <img src="assets/wood-box.png" alt="Campesinos">
      </div>
      <mat-list class="description">
        <mat-list-item *ngFor="let standar of plus">
          <mat-icon mat-list-icon>new_releases</mat-icon>
          <p mat-line matTooltip="{{standar.tooltip}}">
            <strong>{{standar.kilo}} kg</strong>
            {{standar.title}}
            <mat-icon *ngIf="standar.tooltip">info</mat-icon>
          </p>
        </mat-list-item>
      </mat-list>
      <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="contenido">
        <phone-slider></phone-slider>
      </div>
    </div>

    <div fxLayout="column" fxFlex="33%" class="naranja" fxLayoutAlign="center center">
      <h2>Prima</h2>
      <div class="imagen" fxFlex="240px" fxLayoutAlign="center center">
        <img src="assets/wood-box.png" alt="Campesinos">
      </div>
      <mat-list class="description">
        <mat-list-item *ngFor="let standar of premium">
          <mat-icon mat-list-icon>new_releases</mat-icon>
          <p mat-line matTooltip="{{standar.tooltip}}">
            <strong>{{standar.kilo}} kg</strong>
            {{standar.title}}
            <mat-icon *ngIf="standar.tooltip">info</mat-icon>
          </p>
        </mat-list-item>
      </mat-list>
      <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="contenido">
        <phone-slider></phone-slider>
      </div>
    </div>
  </div>
</div>
