@import "~src/sass/_colors.scss";

.benefits-div {
  padding-top: 50px;
  width: 100% !important;
}

// BIG SCREEN
@media(min-width: 846px){
  .main-card{
    padding-right: 5%;
    margin-bottom: -16px;
    overflow: hidden;
    mat-card{
      border-radius: 50px;
      margin-top: 50px;
      background-color: $verde;
    }
  }

  .image-container{
    float: left;
    padding: 10px 0 0 0px;
  }

  .benefit-info{
    margin-left: 140px;
  }

  .content-info{
    color: $grey-700;
    margin-left: 120px; //margin contenido
    text-align: justify;
    font-weight: 500;
    height: 135px;
    padding-top: 32px;
    span{
      font-size: 22px;
    }
    p{
      font-size: 18px;      
      opacity: .9;
    }
  }
}

//SMALL SCREEN
@media(max-width: 845px){
  .main-card{
    padding-left: 3%;
    padding-top: 50px;
    padding-right: 3%;
    overflow: hidden;
    mat-card{
      border-radius: 20px;
    }
  }

  .image-container{
    display: none;
  }

  .benefit-photo{
    display: none;
  }
  .benefit-info{
    margin-left: 10px;
  }

  .content-info{
    color: $white;
    padding-left: 10px;
    padding-top:5px;
    span{
      font-size: 20px;      
    }
    p{
      opacity: .9;
      font-size: 16px;
      color: $white;
      font-weight: 500;
    }
  }
}

.benefits{
  padding-top: 3px;
  padding-left: 10%;
  padding-right: 10%;
  mat-card{
    min-height: 150px; //change
    background-repeat: repeat;
    border-radius: 20px;
  }
}

.benefit-card{
  overflow: hidden;
}

.benefit-photo{
  float: left;
  min-height: 130px;
  min-width: 130px;  
  padding: 10px;  
  border-radius: 85px; //change
  background-size: cover;
}

.benefit-info{
  span{
    font-weight: bold; 
  }
  text-align: justify;
}

.green{
  margin-top: 25px;
  color: $naranja;
  .benefit-photo{
    border: 4px solid $verde;
  }
  .benefit-info{
    color: $green-800;
  }
  mat-card{
    border: 2px solid $verde;  
  }  
}

.orange{
  margin-top: 25px;
  .benefit-photo{
    border: 4px solid $naranja;
  }
  .benefit-info{
    color: $green-800;
  }
  mat-card{
    border: 2px solid $naranja;
  }
}