$strong-green: #03602a;
$orange: #fc7a00;
$opacity-min: .9;

// BIG SCREEN
@media(min-width: 600px){
  .main-card{
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;    
    mat-card{
      border-radius: 50px;
    }
  }

  .image-div{
    float: left;
    padding: 10px 0 0 15px;
    max-width: 42%;
  }

  .benefit-info{
    margin-top: 20px;
    margin-left: 137px;
  }

  .content-info{
    color: whitesmoke;
    font-size: 15px;
    span{
      font-size: 30px;
    }
    p{
      opacity: $opacity-min;
    }
    h6{
      opacity: 1;
    }
  }
}

//SMALL SCREEN
@media(max-width: 600px){
  .main-card{
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
    mat-card{
      border-radius: 20px;
    }
  }

  .image-div{
    display: none;
  }

  .benefit-photo{
    display: none;
  }
  .benefit-info{
    margin-left: 10px;
  }

  .content-info{
    color: whitesmoke;
    padding-left: 10px;
    font-size: 13px;
    span{
      font-size: 20px;      
    }
    p{
      opacity: $opacity-min;
    }
  }
}

.image{
  min-width: 250px;   //cambiar
  min-height: 280px;
  max-height: 300px;
  max-width: 220px;
}

.benefits{
  padding-top: 3px;
  padding-left: 10%;
  padding-right: 10%;
  mat-card{
    min-height: 170px; //change
    background-repeat: repeat;
    border-radius: 20px;
  }
}

.benefit-card{
  overflow: hidden;
}

.benefit-photo{
  float: left;
  min-height: 130px;
  min-width: 130px;  
  padding: 10px;  
  border-radius: 85px; //change
  background-size: cover;
}

.benefit-info{
  span{
    font-weight: bold; 
  }
  
}

.green{
  margin-top: 25px;
  .benefit-photo{
    border: 4px solid $strong-green;
  }
  .benefit-info{
    color: $strong-green;
  }
  mat-card{
    border-left: 8px solid $strong-green;
    background-color: rgba(3, 96, 42, 0.2);    
  }  
}

.orange{
  margin-top: 25px;
  .benefit-photo{
    border: 4px solid $orange;
  }
  .benefit-info{
    color: #962f03;
  }
  mat-card{
    border-right: 8px solid $orange;
    background-color: rgba(255, 98, 7, 0.1);
  }
}