<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<!-- <button mat-icon-button [matMenuTriggerFor]="profileMenu" id="profile-info-btn">
    <div class="user-initials">HE</div>
    <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #profileMenu="matMenu" [overlapTrigger]="false" [class]="'profile-info-panel'">
    <a id="profile-settings-btn" href="" target="_blank" mat-menu-item class="profile-info-item">Option 1</a>
    <a id="company-settings-btn" href="" *ngIf="" target="_blank" mat-menu-item class="profile-info-item">Option 2</a>
    <a id="language-btn" href="" target="_blank" mat-menu-item class="profile-info-item">Option 3</a>
    <a id="help-support-btn" href="" target="_blank" mat-menu-item class="profile-info-item">Option 4</a>
    <a id="reset-guide-btn" href="javascript:void(0)" *ngIf="onboardingGuideEnabled" (click)="resetGuide()" mat-menu-item class="profile-info-item">Option 5</a>
    <a id="logout-btn" href="javascript:void(0)" (click)="requestLogout()" mat-menu-item class="profile-info-item">Option 6</a>
</mat-menu> -->
