<div class="main">

  <div class="tittle">
    <span>¿Por qué elegirnos?</span>
  </div>

  <!-- SECCION TARJETAS -->
  <div class="center" id="offer">
    <div class="card offer-card" id="card1" style="width: 18rem;">
      <img class="card-img-top" src="assets/altos-estandares.jpg" alt="calidad">
      <div class="card-body">
        <h5 class="card-title">Altos estándares de calidad</h5>
        <p class="card-text">
          Estamos comprometidos en seleccionar y distribuir productos de la más
          alta calidad, llevando hasta donde estés la mejor selección de frutas.
        </p>
      </div>
      <div class="btn-link">
        <a routerLink="/oferta" routerLinkActive="active"><button mat-button>Visitar</button></a>
      </div>
    </div>

    <div class="card offer-card" id="card2" style="width: 18rem;">
      <img class="card-img-top" src="assets/nuestros-proveedores.jpg" alt="Frutas">
      <div class="card-body">
        <h5 class="card-title">Nuestros proveedores</h5>
        <p class="card-text">
          Seleccionamos cuidadosamente a nuestros proveedores para que la fruta
          esté siempre fresca y los productos de snack cuiden la salud del consumidor desde sus
          ingredientes hasta su proceso de elaboración.
        </p>
      </div>
      <div class="btn-link">
        <a routerLink="/oferta" routerLinkActive="active"><button mat-button>Visitar</button></a>
      </div>
    </div>

    <div class="card offer-card" id="card3" style="width: 18rem;">
      <img class="card-img-top" src="assets/wood-box.png" alt="box">
      <div class="card-body">
        <h5 class="card-title">Empaques</h5>
        <p class="card-text">
          Nos comprometemos con el ambiente al utilizar cajas de madera reutilizables en la
          distribución y almacenamientos de nuestros productos.
        </p>
      </div>
      <div class="btn-link">
        <a routerLink="/oferta" routerLinkActive="active"><button mat-button>Visitar</button></a>
      </div>
    </div>
  </div>
</div>