$orange-faded: rgba(255, 191, 0, .9);
$background-green: rgba(81, 158, 45, .3);

#offer{
    overflow: auto;
    .offer-card{
        display: inline-block;
        margin: 5px;
    }

    #offer > img{
        height: 50px;
    }
}

.center{
    padding-top: 20px;
    text-align: center;
   .card-body{
       background-color: $orange-faded;
       opacity: .9;
       height: 178px;
       font-size: 13px;
   }
   .btn-link{
       background-color: rgba(126, 175, 59, 1);
       button{
           width: 100%;
           color: whitesmoke;
           font-size: 18px;
       }
   }
}

mat-grid-tile {
    text-align: center;
    border: 1px solid rgb(220, 224, 232);
    p{
        font-size: 13px;
    }

    mat-icon{
        font-size: 35px;
        text-align: center !important;
    }
  }

    //BIG SCREEN
@media(min-width: 600px){
    #process{
        padding-top: 10px;
        margin: 1%;
        span{
            padding-top: 15px;
        }
        mat-icon{
            margin-top: 10px;
        }
    }
    .tittle {
        padding-top: 10px;
        font-size: 28px;
        height: 60px;
      }
}
    
  //SMALL SCREEN
@media(max-width: 600px){
    #process{
        padding-top: 20px;
        margin: 1%;
        p{
            font-size: 10px;
        }
        h6{
            display: none;
        }

        mat-icon{
            font-size: 25px;
        }
    }
    .tittle {
        font-size: 20px;
      }
}

.card-img-top{
    height: 180px; //change en imagenes ya hechas con medidas correctas
    width: 200px;
    background-size: cover;
}

.main{
    padding-top: 30px;
}

.tittle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background-green;
    opacity: .85;
}